<div class="container-xl py-4">
  <div class="table-responsive overflow-hidden">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Servers Management</h2>
          </div>
          <div class="col-sm-6 col-md-12 text-md-end text-center">
            <button (click)="printReport()" type="button" class="btn btn-primary m-1" style="height: 45px">Print Report</button>

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
              <em class="material-icons">&#xE147;</em>
              <span class="ml-1">New Server</span>
            </button>
            <span>
              <select (ngModelChange)="filterServers($event)" ngModel="ALL" name="status" class="btn btn-info m-1 filter"
                      style="height: 45px">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <br>
      <ng-container *ngIf="(appState$ | async) as appState"
                    [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-responsive table-striped table-bordered table-hover" id="servers">
            <thead>
            <tr>
              <th>Image</th>
              <th>IP Address</th>
              <th>Name</th>
              <th>Memory</th>
              <th>Type</th>
              <th>Status</th>
              <th>Ping</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
            <tr>
              <td><img [src]="server.imageUrl" width="40" height="40" [alt]="server.name"></td>
              <td>{{server.ipAddress}}</td>
              <td>{{server.name}}</td>
              <td>{{server.memory}}</td>
              <td>{{server.type}}</td>
              <td>
                <span class="badge" [ngClass]="[server.status === Status.SERVER_UP ? 'bg-success' : 'bg-danger']">
                  {{server.status === Status.SERVER_UP ? 'Server UP' : 'Server Down'}}
                </span>
              </td>
              <td>
                <a class="justify-content-between ping" (click)="pingServer(server.ipAddress)">
                  <em *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress"
                      class="material-icons me-3" title="Ping Server">&#xe328;</em>
                  <em *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-spinner fa-spin "></em>
                </a>
              </td>
              <td>
                <a (click)="deleteServer(server)" class="delete" data-toggle="modal" style="cursor: pointer">
                  <em class="material-icons" data-toggle="modal" title="Delete">delete</em>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert alert-danger" role="alert">
            {{appState.error}}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add Server Modal html -->
<div id="addEmployeeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Server</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group m-2">
            <label>IP</label>
            <input type="text" ngModel name="ipAddress" class="form-control" required>
          </div>
          <div class="form-group m-2">
            <label>Name</label>
            <input type="text" ngModel name="name" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group m-2">
                <label>Memory</label>
                <input type="text" ngModel name="memory" class="form-control" required>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group m-2">
                <label>Type</label>
                <input type="text" ngModel name="type" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group m-2">
            <label>Status</label>
            <select name="status" ngModel="SERVER_DOWN" class="form-control" required>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled]="serverForm.invalid || (isLoading$ |async)">
            <em *ngIf="isLoading$ |async" class="fas fa-spinner fa-spin"></em>
            <span *ngIf="isLoading$ |async">Saving...</span>
            <span *ngIf="!(isLoading$ |async)">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
